header{
    display:flex;
    margin: 1rem;
}
.inicio{
    width: 50%;
    display: flex;
    justify-content: start;
}
header  nav{
    display: flex;
    gap: 1rem;
    width: 50%;
    justify-content: space-evenly;

}
a{
    color: white;
    font: var(--fontAll);
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: #fff; /* Cor do texto */
    position: relative;
    overflow: hidden; /* Esconder o sublinhado quando não estiver em hover */
  }
  
  /* Efeito de sublinhado ao passar o mouse */
  a.underline-from-left::before {
    content: '';
    position: absolute;
    width: 0; /* Começa com largura 0 para o sublinhado estar escondido */
    height: 2px; /* Altura do sublinhado */
    bottom: -2px; /* Ajuste para esconder o sublinhado inicialmente */
    background-color: #fff; /* Cor do sublinhado */
    transition: width 0.3s ease-out; /* Transição suave */
  }
  
  /* Animação do sublinhado ao passar o mouse */
  a.underline-from-left:hover::before {
    width: 100%; /* Aumenta a largura para 100%, preenchendo o sublinhado da esquerda para a direita */
  }