header {
    width: 100%;
    height: 13% ;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--black);
}
header a {
    text-decoration: none;
    color: var(--smoke);
    font-style: var(--fontAll);
    font-size: 1.3rem;
    font-weight: 300;
}
header a:hover {
    color: var(--brown);
}
header>nav ul li {
    display: inline;
    margin-left: 3rem;
}
