.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0E0E0E;
  z-index: 1000;

  .logo {
    color: #046BD2;
    font-weight: bold;
    font-size: 1.5rem;
    
    // Esconde o logo em telas menores que 768px
    @media (max-width: 768px) {
      display: none;
    }
  }

  .nav {
    display: flex;
    gap: 1.5rem;

    // Centraliza a navegação quando o logo está escondido
    @media (max-width: 768px) {
      margin: 0 auto;
    }

    &Link {
      color: #A1A1A1;
      background: none;
      border: none;
      font-size: 1rem;
      cursor: pointer;
      transition: color 0.3s;
      padding: 0.5rem;

      &:hover {
        color: #FFFFFF;
      }

      &.active {
        color: #FFFFFF;
        font-weight: bold;
      }
    }
  }
}

