:root {
  --text-primary: #FFFFFF;
  --text-secondary: #A1A1A1;
  --bg-primary: #0E0E0E;
  --accent-color: #046BD2;
  --card-bg: #1A1A1A;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: inherit; // A fonte será aplicada pelo Next.js
  padding-top: 80px; // Espaço para o header fixo
}

section {
  min-height: 100vh;
  padding: 2rem;
  scroll-margin-top: 80px; // Ajuste para o scroll suave com header fixo
}